:root {
    /* Color styles */
--dark-blue: #2C3E50;
--light-green: #1ABC9C;
--white: #FFFFFF;
--dark-grey: #333333;
--light-blue: #3A546D;
}

    /* GENERAL */
header {
    background-color: var(--dark-blue);
}

main {
    background-color: var(--white);
}

#hero {
    background-color: var(--light-green);
}

#about {
    background-color: var(--light-green);
}

img {
    width: 100%;
    height: auto;
}

.toggler-color {
    color: var(--dark-grey);
    border: 1px #DDDDDD solid;
}

    /* UTILITIES */
.text-600 {
    font-weight: 600;
}

.line {
    width: 4rem;
    height: 1px;
    border-radius: 25px;
}

.white-line {
    border: 1px solid var(--white);
}

.dark-line {
    border: 1px solid var(--dark-grey);
}

.bl-text-dark {
    color: var(--dark-grey);
}

.bl-bg-green {
    background-color: var(--light-green);
}

.bl-bg-light {
    background-color: var(--light-blue);
}

.bl-bg-dark {
    background-color: var(--dark-blue);
}

.bl-text-green {
    color: var(--light-green);
}

.fs-8 {
    font-size: 0.7rem;
}

.rounded-box {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--white);
    border-radius: 50%;
}

.position-center {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fa-star {
    font-size: 1.2rem;
    margin: 0 0.5rem;
}

    /* Hero */
#hero {
    margin-top: 56px;
}
    
#avatar {
    width: 10rem;
    height: 12rem;
}


    /* HOVER */
#portfolio .image::after {
    content: "+";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1abc9ca6;
    color: var(--white);
    opacity: 0;
}

#portfolio .image:hover::after {
    opacity: 1;
}